<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <%- include("partials/navbar", {title: "Cadastro"}) %> 

    <%- include("partials/section") %>
    <section>
        <a href="/" style="color: blue;">Voltar</a>
        <h2>Cadastrando aluno</h2>
            <input id="na" type="text" name="name" placeholder="Digite o nome">
            <input id="ag" type="text" name="age" placeholder="Digite a idade">
            <input id="gr" type="text" name="group" placeholder="Digite a série">
            <input onclick="newPost()" type="submit">

        <h1>Alunos cadastrados</h1>

        <div class="container">

        </div>

    </section>
    
    
    <%- include("partials/footerbar") %>

<script src="./scripts/script.js"></script>
</body>
</html>